* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    background-image: url(../img/cork.png);
}

    /* *********** HEADER ***********  */
header {
    width: 100%;
    height: 150px;
    background-image: url(../img/wall.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 5rem;
    font-family: 'Edu Tas Beginner', sans-serif;
}

    /* *********** CONTAINER ***********  */
.container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    flex-direction: row;
}

    /* *********** POLAROID ***********  */
.polaroid-contain {
    background-color: white;
    padding: 25px;
    font-family: 'Edu Tas Beginner', sans-serif;
    position: relative;
    box-shadow: 1px 1px 3px 0px #000000b0;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.polaroid-pin {
    background-image: url(../img/pin.svg);
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%,-50%)
}
.polaroid-pic {
    width: 325px;
    margin-bottom: 15px;
    /* background-color: #92C952; DEBUG COLOR */
}
.polaroid-date {
    color: #9E9E9E;
    font-family: 'Sometype Mono', 'monospace';
    font-weight: 700;
    font-size: 1.25rem;
}
.polaroid-contain figcaption {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.75rem;
}


/* *********** ANIMAZIONE POLAROID *********** */
.polaroid-contain:hover {
    transform: rotate(10deg) scale(1.2);
    box-shadow: 6px 6px 20px #000000b0;
    z-index: 10;
}
.polaroid-contain:hover .polaroid-pin{
    display: none;
}


/* *********** FOCUS PICTURE *********** */
.picture-focus {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: hsl(0deg 0% 0% / 80%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.picture-focus button {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.5em;
}
#selected-pic{
    width: 800px;
    /* debug */
    /* width: 600px;
    height: 600px;
    background-color: #92C952; */
}
.display-none {
    display: none;
}


/* *********** MEDIA QUERIES *********** */
@media (max-width: 983px) {
    header h1 {
        font-size: 4rem;
    }
    #selected-pic{
        width: 80%;
    }
}
@media (max-width: 576px) {
    #selected-pic{
        width: 100%;
    }
}
@media (max-width: 450px) {
    .polaroid-contain {

    }
    .polaroid-pic {
        width: 250px;
        margin-bottom: 15px;
        /* background-color: #92C952; DEBUG COLOR */
    }
}