* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-image: url(../img/cork.png);
    background-size: 50%;
    background-repeat: repeat;
}

    /* *********** HEADER ***********  */
header {
    width: 100%;
    height: 150px;
    background-image: url(../img/wall.png);
    background-size: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 5rem;
    font-family: 'Edu Tas Beginner', sans-serif;
}

    /* *********** CONTAINER ***********  */
.container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    flex-direction: row;
}

    /* *********** POLAROID ***********  */
.polaroid-contain {
    background-color: white;
    height: 475px;
    padding: 20px;
    font-family: 'Edu Tas Beginner', sans-serif;
    position: relative;
    box-shadow: 1px 1px 3px 0px #000000b0;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.polaroid-pin {
    background-image: url(../img/pin.svg);
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%,-50%)
}
.polaroid-pic {
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    /* background-color: #92C952; DEBUG COLOR */
}
.polaroid-date {
    font-family:'Sometype Mono', 'monospace';
    font-size: 1.25rem;
}
.polaroid-contain figcaption {
    max-width: 300px;
}


/* *********** ANIMAZIONE POLAROID *********** */
.polaroid-contain:hover {
    transform: rotate(10deg) scale(1.2);
    box-shadow: 6px 6px 20px #000000b0;
    z-index: 10;
}
.polaroid-contain:hover .polaroid-pin{
    display: none;
}


/* *********** FOCUS PICTURE *********** */
.picture-focus {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: hsl(0deg 0% 0% / 80%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0 0 0;
}
.picture-focus button {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.5em;
}
#selected-pic{
    /* debug */
    width: 600px;
    height: 600px;
    background-color: #92C952;
}
.display-none {
    display: none;
}